* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;

}

div {
    display: block;
}

.paymentMain {
    margin: 0 25%;
}

.paymentDiv {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 100%;
    min-width: 434.333px;
    background-image: linear-gradient(rgb(247, 247, 247), rgb(211, 211, 211), rgb(179, 178, 178));
    font-size: large;
}

.paymentHeader {
    padding: 18px;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.paymentDetails {
    display: block;
    width: 100%;
}

table {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.308);
}

tr {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 0 0 25px;
}

td {
    min-width: 150px;
}

.column2 {
    padding-left: 35px;

}

select {
    user-select: none;
    min-width: 300px;
    min-height: 30px;
}

#paymentIDAmount,
#paymentIDRemarks {
    min-width: 300px;
    min-height: 30px;
}

.paymentLabel,
select,
input,
label,
#paymentInputList {
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
}

.paymentTransferFrom {
    width: 50px;
}

input[type="radio"] {
    margin-left: 0;
}

#paymentIDFreqRecurring {
    padding-left: 25px;
    gap: 2px;
}

.paymentFreq {
    margin-left: 15px;
}

.paymentMakePayment {
    display: flex;
    justify-content: center;
    padding: 25px;
}

#paymentIDMakePayment {
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: bold;
    background-color: #d61212;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}