.paymentDiv {
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(rgb(247, 247, 247), rgb(211, 211, 211), rgb(179, 178, 178));

}

.paymentHeader {
    padding: 18px;
    font-size: 18px;
    font-family: 'Ubuntu';
}

.paymentDetails {
    display: grid;
}

ul,
li {
    border: 0 none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}